* {
  box-sizing: border-box;
}

#piano {
    width: 992px;
    height: 290px;
    padding: 90px 20px 0;
    background-color: #00471b;
    background-image: url(../images/note_line.png);
    margin: 80px auto;
    border-radius: 10px;
    position: relative;
}

#logo {
    position: absolute;
    top: 23px;
    color: white;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo>img {
height: 30px;
}

#keys {
    background-color: #040404;
    width: 949px;
    height: 180px;
    padding: 2px;
    display: flex;
    overflow: hidden;
}

.octave {
    width: 315px;
    display: flex;
}

.white {
    background-color: #fff;
    width: 41px;
    height: 175;
    margin: 2px;
    border-radius: 0 0 3px 3px;
    padding-top: 125px;
}

.black {
     position: relative;
     z-index: 999;
}

.black::after {
    content: "";
    background-color: #1d1e22;
    width: 32px;
    height: 100px;
    z-index: 999;
    position: absolute;
    left: -16px;
    border-radius: 0 0 3px 3px;
}

.label {
  text-align: center;
  font-family: sans-serif;
  line-height: 2em;
  font-size: 0.8em;
}

 .black>.label {
  position: absolute;
  color: white;
  z-index: 1000;
  width: 32px;
  left: -16px;
  top: 50px;
}

.octave *:active,.pressed {
  transform: translateY(2px);
}

@media (max-width: 768px) {
    #piano {
      width: 358px;
    }
  
    #keys {
      width: 318px;
    }
  }
  
  @media (max-width: 1199px) and (min-width: 769px) {
    #piano {
      width: 675px;
    }
  
    #keys {
      width: 633px;
    }
  }